@font-face{
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.otf');
}

@font-face{
    font-family: 'Shaloems';
    src: url('./fonts/Shaloems.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gilroy';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}